.contactBg {
    /* position: relative;
    height: 100vh; */
    background-image: url('../../assets/contact/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}